/**
 * Correct the style in all browsers.
 */

html{
  font-family: $font-family;
  line-height: 1.15;

  -webkit-text-size-adjust: 100%;
}

body{
  margin: 0;
}

h1{
  margin: .67em 0;

  font-size: 2em;
}

hr{
  height: 0;
  box-sizing: content-box;
}

pre{
  font-family: monospace, monospace;
  font-size: 1em;
}

a:active,
a:hover{
  outline-width: 0;
}

abbr[title]{
  text-decoration: underline;
  text-decoration: underline dotted;

  border-bottom: none;
}

b,
strong{
  font-weight: bold;
}

code,
kbd,
samp{
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn{
  font-style: italic;
}

small{
  font-size: 80%;
}

sub,
sup{
  position: relative;

  font-size: 75%;
  line-height: 0;

  vertical-align: baseline;
}

sub{
  bottom: -.25em;
}

sup{
  top: -.5em;
}

audio:not([controls]){
  display: none;
  height: 0;
}

button,
input,
optgroup,
select,
textarea{
  margin: 0;

  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
}

button,
html [type="button"],
[type="reset"],
[type="submit"]{
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner{
  padding: 0;

  border-style: none;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring{
  outline: 1px dotted ButtonText;
}

fieldset{
  padding: .35em .625em .75em;
  margin: 0 2px;

  border: 1px solid #c0c0c0;
}

legend{
  padding: 0;
}

progress{
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button{
  height: auto;
}

[type="search"]{
  outline-offset: -2px;

  -webkit-appearance: textfield;
}

::-webkit-file-upload-button{
  font: inherit;

  -webkit-appearance: button;
}

details,
summary{
  display: list-item;
}
