html {
  -ms-text-size-adjust: 100%;
}

article, aside, footer, header, nav, section {
  display: block;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  overflow: visible;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: object;
}

mark {
  background-color: #ff0;
  color: #000;
}

audio, video {
  display: inline-block;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  display: inline-block;
}

textarea {
  overflow: auto;
}

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

details, menu {
  display: list-item;
}

canvas {
  display: inline-block;
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button, input, optgroup, select, textarea {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  -webkit-tap-highlight-color: transparent;
}

/**
 * Correct the style in all browsers.
 */
html {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, "Microsoft Yahei", sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  margin: .67em 0;
  font-size: 2em;
}

hr {
  height: 0;
  box-sizing: content-box;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  border-bottom: none;
}

b,
strong {
  font-weight: bold;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

details,
summary {
  display: list-item;
}

@font-face {
  font-family: "iconfont";
  src: url("../fonts/icon.eot");
  /* IE9*/
  src: url("../fonts/icon.eot") format("embedded-opentype"), url("../fonts/icon.woff") format("woff"), url("../fonts/icon.ttf") format("truetype"), url("../fonts/icon.svg") format("svg");
  /* iOS 4.1- */
}
.icon {
  font-family: "iconfont" !important;
  font-style: normal;
}

.icon-douban:before {
  content: "\e601";
}

.icon-facebook:before {
  content: "\e616";
}

.icon-twitter:before {
  content: "\e634";
}

.icon-clock:before {
  content: "\e6f6";
}

.icon-home:before {
  content: "\e611";
}

.icon-weibo:before {
  content: "\e619";
}

.icon-zhihu:before {
  content: "\e6d1";
}

.icon-calendar:before {
  content: "\e603";
}

.icon-author:before {
  content: "\e608";
}

.icon-wechat:before {
  content: "\e600";
}

.icon-github:before {
  content: "\e735";
}

.icon-stackoverflow:before {
  content: "\e8a7";
}

.icon-linkin:before {
  content: "\e61d";
}

.icon-email:before {
  content: "\e609";
}

.icon-tag:before {
  content: "\e68e";
}

.icon-top:before {
  content: "\e649";
}

.icon-segmentfault:before {
  content: "\e610";
}

.icon-bilibili:before {
  content: "\e606";
}

.icon-arror-right:before {
  content: "\e617";
}

.icon-arror-left:before {
  content: "\e618";
}

.icon-category:before {
  content: "\e627";
}

.icon-disqus:before {
  content: "\e7c6";
}

.icon-flickr:before {
  content: "\e73d";
}

.icon-website:before {
  content: "\e605";
}

/*
 * Source files from https://github.com/pinggod/hexo-theme-apollo/blob/master/source/scss/_partial/post.scss
 */
code,
pre {
  font-size: 0.8em;
  background-color: #ecf0f1;
  font-family: 'Roboto Mono', Monaco, courier, monospace;
}

code {
  padding: 0.1em 0.4em;
  background-color: #ecf0f1;
  border-radius: 3px;
}

pre .line {
  min-height: 1em;
}

.highlight {
  position: relative;
  margin: 1em 0;
  border-radius: 2px;
  line-height: 1.1em;
  background-color: #ecf0f1;
  overflow-x: auto;
}
.highlight figcaption {
  font-size: .9em;
  padding: .4em;
  border-bottom: 1px solid #bdc3c7;
}
.highlight table, .highlight tr, .highlight td {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}
.highlight .gutter {
  display: none;
}
.highlight .code pre {
  padding: 1.2em 1.4em;
  line-height: 1.5em;
  margin: 0;
}

.highlight.html .code:after, .highlight.js .code:after, .highlight.bash .code:after, .highlight.css .code:after, .highlight.scss .code:after, .highlight.diff .code:after, .highlight.java .code:after, .highlight.xml .code:after, .highlight.python .code:after, .highlight.json .code:after, .highlight.swift .code:after, .highlight.ruby .code:after, .highlight.perl .code:after, .highlight.php .code:after, .highlight.c .code:after, .highlight.cpp .code:after, .highlight.ts .code:after {
  position: absolute;
  top: 0;
  right: 0;
  color: #bdc3c7;
  text-align: right;
  font-size: 0.75em;
  padding: 5px 10px 0;
  line-height: 15px;
  height: 15px;
  font-weight: 600;
}

.highlight.html .code:after {
  content: "HTML";
}

.highlight.js .code:after {
  content: "JS";
}

.highlight.bash .code:after {
  content: "BASH";
}

.highlight.css .code:after {
  content: "CSS";
}

.highlight.scss .code:after {
  content: "SCSS";
}

.highlight.diff .code:after {
  content: "DIFF";
}

.highlight.java .code:after {
  content: "JAVA";
}

.highlight.xml .code:after {
  content: "XML";
}

.highlight.python .code:after {
  content: "PYTHON";
}

.highlight.json .code:after {
  content: "JSON";
}

.highlight.swift .code:after {
  content: "SWIFT";
}

.highlight.ruby .code:after {
  content: "RUBY";
}

.highlight.perl .code:after {
  content: "PERL";
}

.highlight.php .code:after {
  content: "PHP";
}

.highlight.c .code:after {
  content: "C";
}

.highlight.java .code:after {
  content: "JAVA";
}

.highlight.cpp .code:after {
  content: "CPP";
}

.highlight.ts .code:after {
  content: "TS";
}

.highlight.cpp .code:after {
  content: 'C++';
}

pre {
  color: #34495e;
}
pre .function .keyword,
pre .constant {
  color: #3498db;
}
pre .keyword,
pre .attribute {
  color: #e96900;
}
pre .number,
pre .literal {
  color: #8e44ad;
}
pre .tag,
pre .tag .title,
pre .change,
pre .winutils,
pre .flow,
pre .lisp .title,
pre .clojure .built_in,
pre .nginx .title,
pre .tex .special {
  color: #2980b9;
}
pre .symbol,
pre .symbol .string,
pre .value,
pre .regexp {
  color: #1abc9c;
}
pre .title {
  color: #2ecc71;
}
pre .tag .value,
pre .string,
pre .subst,
pre .haskell .type,
pre .preprocessor,
pre .ruby .class .parent,
pre .built_in,
pre .sql .aggregate,
pre .django .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .javadoc,
pre .django .filter .argument,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .attr_selector,
pre .pseudo,
pre .addition,
pre .stream,
pre .envvar,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command,
pre .prompt {
  color: #1abc9c;
}
pre .comment,
pre .java .annotation,
pre .python .decorator,
pre .template_comment,
pre .pi,
pre .doctype,
pre .shebang,
pre .apache .sqbracket,
pre .tex .formula {
  color: #95a5a6;
}
pre .deletion {
  color: #c0392b;
}
pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.5;
}

a {
  text-decoration: none;
  color: #34495e;
}

body {
  position: relative;
  overflow-x: hidden;
}

.wrapper {
  position: relative;
  transition: all .25s;
  background: #fff;
}
.wrapper.done .page-header .author .head,
.wrapper.done .page-header .author .name,
.wrapper.done .page-header .author .signature {
  transform: translateY(0);
  opacity: 1;
}
.wrapper.done .page-header .author .name,
.wrapper.done .page-header .author .signature {
  transition-delay: .08s;
}
.wrapper.done .post-list {
  transition-delay: .16s;
  transform: translateY(0);
  opacity: 1;
}
.wrapper.done .post-header .post-title h1.title,
.wrapper.done .post-header .post-title ul.meta {
  transform: translateY(0);
  opacity: 1;
}
.wrapper.done .post-header .post-title ul.meta {
  transition-delay: .08s;
}
.wrapper.done .article-content,
.wrapper.done .article-meta {
  transform: translateY(0);
  opacity: 1;
}
.wrapper.done .article-content {
  transition-delay: .16s;
}
.wrapper.done .article-meta {
  transition-delay: .24s;
}

.wrapper--article {
  background: #5e6166;
}

.img-loading {
  display: block;
  margin: 15px auto !important;
}

@media screen and (max-width: 1024px) {
  html,
  body {
    -webkit-user-select: none;
    user-select: none;
  }
}
.page-header {
  position: relative;
}
.page-header .background {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  background: black;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.page-header .background img {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 1920px;
  height: 800px;
  margin-top: -400px;
  margin-left: -960px;
}
.page-header .author {
  padding: 0 20px 30px 20px;
  text-align: center;
  background: #fffcf6;
}
.page-header .author .head {
  position: relative;
  top: -68px;
  display: inline-block;
  width: 130px;
  height: 130px;
  padding: 3px;
  transition: all .4s;
  transform: translateY(-20px);
  opacity: 0;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 5px #95a5a6;
}
.page-header .author .head img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.page-header .author .name,
.page-header .author .signature {
  position: relative;
  margin: 0;
  transition: all .4s;
  transform: translateY(-20px);
  opacity: 0;
}
.page-header .author .name {
  top: -50px;
  font-size: 1.3rem;
  color: #2c3e50;
}
.page-header .author .signature {
  top: -35px;
  font-size: .95rem;
  color: #7f8c8d;
}

@media screen and (max-width: 1440px) {
  .page-header .background {
    height: 250px;
  }
}
@media screen and (max-width: 1024px) {
  .page-header .background {
    height: 150px;
  }
  .page-header .background img {
    width: 1200px;
    height: 500px;
    margin-top: -250px;
    margin-left: -600px;
  }
}
.post-header {
  width: 100%;
  background: black;
  overflow: hidden;
  position: relative;
}
.post-header img.background {
  display: block;
  width: 1920px;
  height: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -960px;
  margin-top: -400px;
}
.post-header .post-title {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  padding: 230px 30px;
  text-align: center;
  position: relative;
  z-index: 66;
}
.post-header .post-title h1.title {
  font-size: 2.2rem;
  line-height: 40px;
  margin: 0;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.4s;
}
.post-header .post-title ul.meta {
  display: inline-block;
  margin-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  padding: 15px 10px;
  font-size: .75rem;
  line-height: 1.6;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.4s;
}
.post-header .post-title ul.meta > li {
  margin: 0 12px;
  display: inline-block;
}
.post-header .post-title ul.meta > li i, .post-header .post-title ul.meta > li li {
  margin-right: .5em;
}
.post-header .post-title ul.meta > li ul, .post-header .post-title ul.meta > li li {
  display: inline;
}
.post-header .post-title ul.meta > li li a {
  color: white;
  transition: color .3s;
}
.post-header .post-title ul.meta > li li a:hover {
  color: #2980b9;
}
.post-header .post-title ul.meta > li li span {
  display: none;
}

@media screen and (max-width: 1440px) {
  .post-header .post-title {
    padding: 180px 30px;
  }
  .post-header .post-title h1.title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1024px) {
  .post-header img.background {
    width: 1200px;
    height: 500px;
    margin-left: -600px;
    margin-top: -250px;
  }
  .post-header .post-title {
    padding: 130px 30px;
  }
  .post-header .post-title h1.title {
    font-size: 1.6rem;
    line-height: 36px;
  }
}
#navi {
  display: none;
}

.navi-button {
  font-size: .8rem;
  color: #7f8c8d;
  border: 1px solid rgba(127, 140, 141, 0.6);
  line-height: 35px;
  border-radius: 4px;
  display: block;
  padding: 0 15px;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  text-transform: uppercase;
  z-index: 99;
  transition: all .3s;
}
.navi-button:hover {
  background: rgba(127, 140, 141, 0.7);
  color: white;
}
.navi-button.light {
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.6);
}
.navi-button.light:hover {
  background: rgba(255, 255, 255, 0.7);
  color: #7f8c8d;
}

.main-navication {
  margin: 0;
  padding: 100px 0 0;
  background: #2c3e50;
  width: 150px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.main-navication li {
  list-style: none;
}
.main-navication a {
  display: block;
  padding: 0 15px;
  color: white;
}
.main-navication i {
  display: block;
  width: 50px;
  float: left;
  font-size: 16px;
  line-height: 48px;
  text-align: center;
}
.main-navication span {
  font-size: 12px;
  line-height: 48px;
  display: block;
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.4s;
}

#navi:checked ~ .wrapper {
  transform: translateX(-150px);
}

#navi:checked ~ .main-navication span {
  opacity: 1;
  transform: translateX(0);
}

.page-footer .top {
  background: #2c3e50;
  padding: 110px 15px;
}
.page-footer .top .social {
  padding-left: 0;
  margin: 0;
  text-align: center;
  font-size: 2.2rem;
}
.page-footer .top .social li {
  display: inline-block;
  padding: 0 15px;
}
.page-footer .top .social li a {
  color: white;
  transition: color .3s;
}
.page-footer .top .social li a:hover {
  color: #2980b9;
}
.page-footer .bottom {
  background: #34495e;
  padding: 30px 15px;
}
.page-footer .bottom .copyright {
  font-size: .8rem;
  text-align: center;
  color: #95a5a6;
  margin: 0;
}
.page-footer .bottom .copyright small {
  color: #7f8c8d;
}
.page-footer .bottom .copyright a {
  color: #7f8c8d;
  text-decoration: underline;
  transition: color .3s;
}
.page-footer .bottom .copyright a:hover {
  color: #2980b9;
}

.post-list {
  padding: 0 36px;
  margin: 72px auto 0 auto;
  list-style: none;
  transition: all .4s;
  transform: translateY(-20px);
  opacity: 0;
}
.post-list > li {
  margin-bottom: 80px;
}
.post-list > li p.date,
.post-list > li h4.title {
  font-weight: bold;
}
.post-list > li p.date {
  font-size: .75rem;
  line-height: 2.2;
  color: #2c3e50;
}
.post-list > li h4.title {
  margin: 10px 0;
  font-size: 1.8rem;
  line-height: 1.5;
}
.post-list > li h4.title a {
  color: #2c3e50;
  transition: color .3s;
}
.post-list > li h4.title a:hover {
  color: #2980b9;
}
.post-list > li .photo,
.post-list > li img {
  max-width: 100%;
  max-height: 800px;
}
.post-list > li video,
.post-list > li iframe {
  width: 100%;
}
.post-list > li .excerpt,
.post-list > li .excerpt *,
.post-list > li .no-title {
  margin: 0;
  font-size: .9rem;
  line-height: 1.8;
  color: #555;
}
.post-list > li .excerpt a,
.post-list > li .excerpt * a,
.post-list > li .no-title a {
  text-decoration: underline;
  transition: color .3s;
}
.post-list > li .excerpt a:hover,
.post-list > li .excerpt * a:hover,
.post-list > li .no-title a:hover {
  color: #2980b9;
}
.post-list > li .meta {
  padding: 22px 10px;
  margin-top: 20px;
  font-size: .75rem;
  color: #7f8c8d;
  border: 1px solid #ecf0f1;
  border-width: 1px 0;
}
.post-list > li .meta ul {
  padding-left: 0;
}
.post-list > li .meta > li {
  display: inline-block;
  margin-right: 22px;
}
.post-list > li .meta > li i,
.post-list > li .meta > li li {
  margin-right: .5em;
}
.post-list > li .meta > li ul,
.post-list > li .meta > li li {
  display: inline;
}
.post-list > li .meta > li li a {
  color: #7f8c8d;
  transition: color .3s;
}
.post-list > li .meta > li li a:hover {
  color: #2980b9;
}
.post-list > li .meta > li li span {
  display: none;
}
.post-list > li .meta > li li ul.category-list-child {
  padding-left: .5em;
  font-size: .9em;
}
.post-list > li .meta > li li ul.category-list-child:before {
  padding-right: .3em;
  content: ">";
}

.article-content,
.article-meta {
  padding: 0 36px;
  line-height: 2;
  transition: all .4s;
  transform: translateY(-20px);
  opacity: 0;
}

.article-content {
  position: relative;
  z-index: 999;
  padding-top: 50px;
  padding-bottom: 60px;
  margin: 72px auto 48px auto;
  margin-top: -120px;
  font-weight: 300;
  color: #2c3e50;
  background: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}
.article-content a {
  color: #39f;
}
.article-content h1 {
  margin: .7rem 0 .3rem 0;
}
.article-content h2 {
  margin: .6rem 0 .3rem 0;
}
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
  margin-top: .5rem;
}
.article-content h3 code,
.article-content h4 code,
.article-content h5 code,
.article-content h6 code {
  color: #c0392b;
}
.article-content code {
  margin: 0 .3em;
}
.article-content p code,
.article-content li code {
  color: #c0392b;
}
.article-content ul {
  padding-left: 20px;
}
.article-content ul li {
  list-style: disc;
}
.article-content ol {
  padding-left: 20px;
}
.article-content ol li {
  list-style: decimal;
}
.article-content blockquote {
  padding: 5px 5px 5px 15px;
  margin: .5rem 0;
  font-size: .9rem;
  line-height: 1.6;
  border-left: 5px solid #2980b9;
  background: #ecf0f1;
}
.article-content img {
  max-width: 100%;
}
.article-content video,
.article-content iframe {
  width: 100%;
}
.article-content table {
  font-size: .9rem;
}
.article-content table th,
.article-content table tr:nth-child(even) {
  background: #ecf0f1;
}
.article-content table th,
.article-content table td {
  padding: .2em .5em;
}

.article-meta {
  margin: 0 auto 72px auto;
  font-size: .9rem;
  color: #7f8c8d;
}
.article-meta .tags,
.article-meta .categories {
  margin-bottom: 5px;
}
.article-meta .tags > i,
.article-meta .categories > i {
  display: block;
  float: left;
  margin-right: 1em;
}
.article-meta ul {
  padding-left: 0;
}
.article-meta li {
  display: inline-block;
  margin-right: .8em;
}
.article-meta li a {
  margin-right: .3em;
  text-decoration: underline;
  color: #7f8c8d;
  transition: color .3s;
}
.article-meta li a:hover {
  color: #2980b9;
}
.article-meta li span {
  padding: .02em .3em;
  font-size: .85em;
  border-radius: 2px;
  background: #ecf0f1;
}
.article-meta li ul.category-list-child {
  display: inline-block;
  padding-left: .5em;
  font-size: .9em;
}
.article-meta li ul.category-list-child:before {
  padding-right: .3em;
  content: ">";
}

.article-comment {
  padding: 0 36px;
  margin: 0 auto 72px auto;
}
.article-comment #ds-thread #ds-reset .ds-meta {
  border-bottom: 1px solid #bdc3c7;
}
.article-comment #ds-thread #ds-reset .ds-meta a.ds-like-thread-button {
  border: 1px solid #bdc3c7;
  color: #7f8c8d;
  background: white;
}
.article-comment #ds-thread #ds-reset .ds-sort a {
  color: #7f8c8d;
  transition: color .3s;
}
.article-comment #ds-thread #ds-reset .ds-sort a:hover {
  color: #2980b9;
}
.article-comment #ds-thread #ds-reset .ds-sort a.ds-current {
  color: #2980b9;
}
.article-comment #ds-thread #ds-reset li.ds-tab a.ds-current {
  border: 1px solid #bdc3c7;
  background: white;
  transition: color .3s;
}
.article-comment #ds-thread #ds-reset li.ds-tab a.ds-current:hover {
  color: #2980b9;
}
.article-comment #ds-thread #ds-reset .ds-comments {
  border-bottom: 1px solid #ecf0f1;
  color: #2c3e50;
}
.article-comment #ds-thread #ds-reset li.ds-post {
  border-top: 0;
}
.article-comment #ds-thread #ds-reset .ds-post-self {
  border-top: 1px solid #ecf0f1;
}
.article-comment #ds-thread #ds-reset .ds-textarea-wrapper {
  border: 1px solid #bdc3c7;
  border-width: 1px 1px 0 1px;
  background: white;
}
.article-comment #ds-thread #ds-reset .ds-textarea-wrapper textarea {
  color: #34495e;
}
.article-comment #ds-thread #ds-reset .ds-post-toolbar {
  box-shadow: none;
}
.article-comment #ds-thread #ds-reset .ds-post-options {
  border: 1px solid #bdc3c7;
  border-top-color: #ecf0f1;
  border-right: none;
}
.article-comment #ds-thread #ds-reset .ds-gradient-bg {
  background: white;
}
.article-comment #ds-thread #ds-reset .ds-post-button {
  background: #ecf0f1;
  border: 1px solid #bdc3c7;
  border-top-color: #ecf0f1;
  border-left-color: #ecf0f1;
}

.pagination {
  text-align: center;
  margin-bottom: 80px;
  padding-left: 0;
}
.pagination li {
  display: inline-block;
}
.pagination li a {
  display: block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 50%;
  font-weight: bold;
  font-size: .85rem;
  margin: 3px;
  color: #34495e;
}
.pagination li.current a {
  background: #ecf0f1;
}
.pagination li.link a {
  transition: color .3s;
}
.pagination li.link a:hover {
  color: #2980b9;
}

ul.navication {
  padding-left: 0;
  margin: 0;
  position: fixed;
  right: 15px;
  bottom: 30px;
  z-index: 99;
}
ul.navication li {
  margin-top: 12px;
  list-style: none;
}
ul.navication li a {
  display: block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: rgba(189, 195, 199, 0.6);
  color: white;
  transition: background .3s;
}
ul.navication li a:hover {
  background: rgba(41, 128, 185, 0.9);
}
ul.navication li.home {
  font-size: 1.8rem;
}
ul.navication li.home a {
  color: rgba(189, 195, 199, 0.6);
  background: none;
  transition: color .3s;
}
ul.navication li.home a:hover {
  color: #2980b9;
}

#toc {
  display: none;
}

#toc.tocify {
  z-index: 9999;
  height: 100vh;
  max-height: 100vh !important;
  padding-top: 20px;
  margin-left: 0 !important;
  overflow: hidden;
  border: none;
  border-radius: 0;
  background: #fbfbfb;
}
#toc.tocify .tocify-item.active {
  font-weight: bold;
}
#toc.tocify .tocify-item a {
  color: #39f;
}
#toc.tocify .tocify-item.active:before {
  position: absolute;
  left: 0;
  width: 3px;
  height: 30px;
  content: " ";
  background: #39f;
}

#toc.tocify {
  font-size: 16px;
  border: none;
}
#toc.tocify .tocify-subheader li {
  font-size: 14px;
}
#toc.tocify .tocify-item {
  padding-top: 2px;
  padding-bottom: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#toc.tocify .tocify-item.active {
  border-left: 4px solid #2786f3;
  background: #f7f7f7;
}

.tocify {
  display: inline-block;
  width: 24px;
  height: 100vh;
  /*display: none;*/
  transition: all .5s;
  background: #f5f5f5;
}

.toc-text {
  position: absolute;
  top: 0;
  left: 24px;
  display: block;
  width: calc(100vh - 30px);
  height: 24px;
  padding-left: 30px;
  font-size: 12px;
  line-height: 24px;
  transition: all .5s;
  transform: rotate(90deg);
  transform-origin: top left;
  color: #ccc;
  background: #1c1d1e;
}

.tocify.show {
  width: 300px;
}

.tocify.show .toc-text {
  left: 300px;
}

@media screen and (max-width: 1024px) {
  .tocify {
    display: none !important;
  }
}

/*# sourceMappingURL=main_style.css.map */
