$color-white: rgba(255, 255, 255,1.0);
$color-cloud: rgba(236, 240, 241,1.0);
$color-silver: rgba(189, 195, 199,1.0);
$color-concrete: rgba(149, 165, 166,1.0);
$color-asbestos: rgba(127, 140, 141,1.0);
$color-wetAsphalt: rgba(52, 73, 94,1.0);
$color-midnightBlue: rgba(44, 62, 80,1.0);
$color-floral-white: #fffcf6;
$color-black: rgba(0, 0, 0,1.0);
$color-turquoise: rgba(26, 188, 156,1.0);
$color-emerald: rgba(46, 204, 113,1.0);
$color-peterRiver: rgba(52, 152, 219,1.0);
$color-belizeHole: rgba(41, 128, 185,1.0);
$color-link-blue: #39f;
$color-amethyst: rgba(155, 89, 182,1.0);
$color-wisteria: rgba(142, 68, 173,1.0);
$color-orange: rgba(243, 156, 18,1.0);
$color-powerGranate: rgba(192, 57, 43,1.0);
