.page-footer
  .bottom
    div.copyright
      | © #{new Date().getFullYear()} #{config.title}
      if theme.copyright.record
        br
        small
          a(href="http://www.miitbeian.gov.cn", target="_blank") #{theme.copyright.record}
      if theme.copyright.hexo
        br
        small POWER BY 
          a(href="https://hexo.io", target="_blank") HEXO
      if is_home()
        br
        p(style="margin:0;") Hosted by
          a(href="https://pages.coding.me", style="font-weight: bold;") Coding Pages
      if theme.copyright.laughing
        small , THEME BY 
          a(href="https://github.com/BoizZ/hexo-theme-laughing", target="_blank") LAUGHING
