doctype html
html(lang="zh-cn")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=Edge")
    meta(name="viewport",content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
    meta(name="format-detection",content="telephone=no")
    meta(name="format-detection",content="email=no")
    meta(name="description",content=config.description)
    meta(name="keywords",content=theme.keywords)
    title #{page.title ? page.title + ' - ' + config.title : config.title + (config.subtitle ? (' - ' + config.subtitle) : '')}
    if is_post()
      link(rel="stylesheet", href="/css/jquery.tocify.css")
    link(rel="stylesheet", href="/css/main_style.min.css")
    link(rel="icon", href=theme.favicon)
  body
    input#navi(type="checkbox")
    ul.main-navication
      li
        a(href='/')
          span Home
      if theme.navication && theme.navication.length
        each item in theme.navication
          li
            a(href=item.link)
              if item.type
                i(class="icon icon"+item.type)
              span #{item.name}
    .wrapper#wrap(class= (is_post() ? "wrapper--article" : "wrapper--home"))
      block content
      include ./footer.pug
    block script
    script(src="https://cdn.staticfile.org/jquery/1.8.3/jquery.min.js")
    script(src="https://cdn.staticfile.org/jquery_lazyload/1.9.7/jquery.lazyload.min.js")
    if is_post()
      script(src="/js/jquery-ui-1.9.1.custom.min.js")
      script(src="/js/jquery.tocify.min.js")

    script.
      $(function(){
        var wrap = document.getElementById("wrap");
        wrap.className += " done";
        if (document.querySelector("#toc")) {
          $("#toc").tocify({
            context: "body",
            selectors: "h2,h3,h4,h5",
            extendPage: false,
          }).data("toc-tocify");
          const b = document.querySelector("#toc");

          function a() {
            b.classList.toggle("show")
          }

          document.querySelector(".toc-text").addEventListener("mouseenter", a);
          if (document.querySelector(".tocify-header")) {
            b.style.display = "block"
          }
        }
        $(".post-list img, .article-content img").lazyload({
          placeholder:"http://oe54phg1r.bkt.clouddn.com/typing-preloader.svg",
          effect:"fadeIn",
          load : function(elements_left, settings) {
            $(this).removeClass("img-loading");
          }
        });
      });