.page-header
  if theme.page_menu_button === "light"
    label.navi-button.light(for="navi") MENU
  else
    label.navi-button(for="navi") MENU
  .background(style='background-image:url("' + theme.page_background + '")')
  .author
    .head
      img(src=theme.author.head)
    h3.name #{config.author}
    p.signature #{theme.author.signature}