a{
  text-decoration: none;

  color: $color-wetAsphalt;
}
body{
  position: relative;

  overflow-x: hidden;
}

.wrapper{
  position: relative;

  transition: all .25s;

  background: #fff;


  &.done{
    .page-header{
      .author{
        .head,
        .name,
        .signature{
          transform: translateY(0);

          opacity: 1;
        }
        .name,
        .signature{
          transition-delay: .08s;
        }
      }
    }
    .post-list{
      transition-delay: .16s;
      transform: translateY(0);

      opacity: 1;
    }
    .post-header{
      .post-title{
        h1.title,
        ul.meta{
          transform: translateY(0);

          opacity: 1;
        }
        ul.meta{
          transition-delay: .08s;
        }
      }
    }
    .article-content,
    .article-meta{
      transform: translateY(0);

      opacity: 1;
    }
    .article-content{
      transition-delay: .16s;
    }
    .article-meta{
      transition-delay: .24s;
    }
  }
}
.wrapper--article{
  background: #5e6166;
}
.img-loading{
  display: block;
  margin: 15px auto !important;
}
@media screen and (max-width: $screen-small){
  html,
  body{
    -webkit-user-select: none;
            user-select: none;
  }
}
