.post-list{
  padding: 0 36px;
  margin: 72px auto 0 auto;

  list-style: none;

  transition: all .4s;
  transform: translateY(-20px);

  opacity: 0;
  > li{
    margin-bottom: 80px;
    p.date,
    h4.title{
      font-weight: bold;
    }
    p.date{
      font-size: .75rem;
      line-height: 2.2;

      color: $color-midnightBlue;
    }
    h4.title{
      margin: 10px 0;

      font-size: 1.8rem;
      line-height: 1.5;
      a{
        color: $color-midnightBlue;

        @include link-hover;
      }
    }
    .photo,
    img{
      max-width: 100%;
      max-height: 800px;
    }
    video,
    iframe{
      width: 100%;
    }
    .excerpt,
    .excerpt *,
    .no-title{
      margin: 0;

      font-size: .9rem;
      line-height: 1.8;

      color: #555;
      a{
        text-decoration: underline;

        @include link-hover;
      }
    }
    .meta{
      padding: 22px 10px;
      margin-top: 20px;

      font-size: .75rem;

      color: $color-asbestos;
      border: 1px solid $color-cloud;
      border-width: 1px 0;
      ul{
        padding-left: 0;
      }
      > li{
        display: inline-block;
        margin-right: 22px;
        i,
        li{
          margin-right: .5em;
        }
        ul,
        li{
          display: inline;
        }
        li{
          a{
            color: $color-asbestos;

            @include link-hover;
          }
          span{
            display: none;
          }
          ul.category-list-child{
            padding-left: .5em;

            font-size: .9em;
            &:before{
              padding-right: .3em;

              content: ">";
            }
          }
        }
      }
    }
  }
}
