.page-header{
  position: relative;
  .background{
    position: relative;

    width: 100%;
    height: 250px;
    overflow: hidden;

    background: $color-black;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    img{
      position: absolute;
      top: 50%;
      left: 50%;

      display: block;
      width: 1920px;
      height: 800px;
      margin-top: -400px;
      margin-left: -960px;
    }
  }
  .author{
    padding: 0 20px 30px 20px;

    text-align: center;

    background: $color-floral-white;
    .head{
      position: relative;
      top: -68px;

      display: inline-block;
      width: 130px;
      height: 130px;
      padding: 3px;

      transition: all .4s;
      transform: translateY(-20px);

      opacity: 0;
      border-radius: 50%;
      background: #fff;
      box-shadow: 0 0 5px $color-concrete;
      img{
        display: block;
        width: 100%;
        height: 100%;

        border-radius: 50%;
      }
    }
    .name,
    .signature{
      position: relative;

      margin: 0;

      transition: all .4s;
      transform: translateY(-20px);

      opacity: 0;
    }
    .name{
      top: -50px;

      font-size: 1.3rem;

      color: $color-midnightBlue;
    }
    .signature{
      top: -35px;

      font-size: .95rem;

      color: $color-asbestos;
    }
  }
}
@media screen and (max-width: $screen-medium){
  .page-header{
    .background{
      height: 250px;
    }
  }
}
@media screen and (max-width: $screen-small){
  .page-header{
    .background{
      height: 150px;
      img{
        width: 1200px;
        height: 500px;
        margin-top: -250px;
        margin-left: -600px;
      }
    }
  }
}
