.article-content,
.article-meta{
  padding: 0 36px;

  line-height: 2;

  transition: all .4s;
  transform: translateY(-20px);

  opacity: 0;
}
.article-content{
  position: relative;
  z-index: 999;

  padding-top: 50px;
  padding-bottom: 60px;
  margin: 72px auto 48px auto;
  margin-top: -120px;

  font-weight: 300;

  color: $color-midnightBlue;
  background: #fff;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
  a{
    color: $color-link-blue;
  }
  h1{
    margin: .7rem 0 .3rem 0;
  }
  h2{
    margin: .6rem 0 .3rem 0;
  }
  h3,
  h4,
  h5,
  h6{
    margin-top: .5rem;
    code{
      color: $color-powerGranate;
    }
  }
  code{
    margin: 0 .3em;
  }
  p,
  li{
    code{
      color: $color-powerGranate;
    }
  }
  ul{
    padding-left: 20px;
    li{
      list-style: disc;
    }
  }
  ol{
    padding-left: 20px;
    li{
      list-style: decimal;
    }
  }
  blockquote{
    padding: 5px 5px 5px 15px;
    margin: .5rem 0;

    font-size: .9rem;
    line-height: 1.6;

    border-left: 5px solid $color-belizeHole;
    background: $color-cloud;
  }
  img{
    max-width: 100%;
  }
  video,
  iframe{
    width: 100%;
  }
  table{
    font-size: .9rem;
    th,
    tr:nth-child(even){
      background: $color-cloud;
    }
    th,
    td{
      padding: .2em .5em;
    }
  }
}
.article-meta{
  margin: 0 auto 72px auto;

  font-size: .9rem;

  color: $color-asbestos;
  .tags,
  .categories{
    margin-bottom: 5px;
    > i{
      display: block;
      float: left;
      margin-right: 1em;
    }
  }
  ul{
    padding-left: 0;
  }
  li{
    display: inline-block;
    margin-right: .8em;
    a{
      margin-right: .3em;

      text-decoration: underline;

      color: $color-asbestos;

      @include link-hover;
    }
    span{
      padding: .02em .3em;

      font-size: .85em;

      border-radius: 2px;
      background: $color-cloud;
    }
    ul.category-list-child{
      display: inline-block;
      padding-left: .5em;

      font-size: .9em;
      &:before{
        padding-right: .3em;

        content: ">";
      }
    }
  }
}
