#toc{
  display: none;
}
#toc.tocify{
  z-index: 9999;

  height: 100vh;
  max-height: 100vh !important;
  padding-top: 20px;
  margin-left: 0 !important;
  overflow: hidden;

  border: none;
  border-radius: 0;
  background: #fbfbfb;
  .tocify-item.active{
    font-weight: bold;
  }
  .tocify-item{
    a{
      color: #39f;
    }
  }

  .tocify-item.active:before{
    position: absolute;
    left: 0;

    width: 3px;
    height: 30px;

    content: " ";

    background: #39f;
  }
}

#toc.tocify{
  font-size: 16px;

  border: none;
  .tocify-subheader li{
    font-size: 14px;
  }
  .tocify-item{
    padding-top: 2px;
    padding-bottom: 2px;
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .tocify-item.active{
    border-left: 4px solid #2786f3;
    background: #f7f7f7;
  }
}

.tocify{
  display: inline-block;
  width: 24px;
  height: 100vh;
  /*display: none;*/

  transition: all .5s;

  background: #f5f5f5;
}

.toc-text{
  position: absolute;
  top: 0;
  left: 24px;

  display: block;
  width: calc(100vh - 30px);
  height: 24px;
  padding-left: 30px;

  font-size: 12px;
  line-height: 24px;

  transition: all .5s;
  transform: rotate(90deg);
  transform-origin: top left;

  color: #ccc;
  background: #1c1d1e;
}
.tocify.show{
  width: 300px;
}
.tocify.show .toc-text{
  left: 300px;
}
@media screen and (max-width: $screen-small){
  .tocify{
    display: none !important;
  }
}
